.main-content-container{
    height: 460px;
    width: 100%;
    /* background-color: #282D35; */
    padding: 56px 26px;
    /* background-image: url('../images/background-light.svg'); */
    background-repeat: no-repeat;
    background-position: right 65%;
}

.main-content-title{
    color: white;
    font-size: 39.06px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word ;
    margin-bottom: 46px;
    letter-spacing: -1px;
}

.main-content-list li{
    color: white;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    margin: 0 52px 20px;
}

.main-content-list li::marker{
    color: #61DAFB;
    font-size: 22px;

    
}